In [1]:
import pandas as pd
CPI = pd.read_csv(r"C:\Users\vishal\OneDrive\Desktop\US House Price Project\Data\CPI.csv")
PCE = pd.read_csv(r"C:\Users\vishal\OneDrive\Desktop\US House Price Project\Data\PCE.csv")
OER = pd.read_csv(r"C:\Users\vishal\OneDrive\Desktop\US House Price Project\Data\Owners' Equivalent Rent.csv")
House_prices = pd.read_csv(r"C:\Users\vishal\OneDrive\Desktop\US House Price Project\Data\U.S. National Home Price.csv")
US_inflation_rate = pd.read_csv(r"C:\Users\vishal\OneDrive\Desktop\US House Price Project\Data\US_inflation_rates.csv")
Consumer_Price_Index_Urban_Consumers = pd.read_csv(r"C:\Users\vishal\OneDrive\Desktop\US House Price Project\Data\Counsumer price index for all consumers.csv")

In [2]:
#data filtering step to extract only twenty years data
start_date = '2002-01-01'
end_date = '2022-12-01'

CPI_filtered = CPI[(CPI['DATE'] >= start_date) & (CPI['DATE'] <= end_date)]
PCE_filtered = PCE[(PCE['DATE'] >= start_date) & (PCE['DATE'] <= end_date)]
OER_filtered = OER[(OER['DATE'] >= start_date) & (OER['DATE'] <= end_date)]
House_prices_filtered = House_prices[(House_prices['DATE'] >= start_date) & (House_prices['DATE'] <= end_date)]
US_inflation_rate_filtered = US_inflation_rate[(US_inflation_rate['date'] >= start_date) & (US_inflation_rate['date'] <= end_date)]
Consumer_Price_Index_Urban_Consumers_filtered = Consumer_Price_Index_Urban_Consumers[(Consumer_Price_Index_Urban_Consumers['DATE'] >= start_date) & (Consumer_Price_Index_Urban_Consumers['DATE'] <= end_date)]

In [3]:
# Merge DataFrames
df = CPI_filtered.merge(PCE_filtered, on='DATE', how='outer')
df = df.merge(OER_filtered, on='DATE', how='outer')
df = df.merge(House_prices_filtered, on='DATE', how='outer')
df = df.merge(Consumer_Price_Index_Urban_Consumers_filtered, on='DATE', how='outer')
# Drop duplicate 'DATE' columns from merged DataFrames
df = df.loc[:, ~df.columns.duplicated()]

df = df.drop_duplicates(subset='DATE')

In [4]:
d1 = pd.DataFrame(df)
d2 = pd.DataFrame(US_inflation_rate_filtered)

data = pd.merge(d1, d2, left_on = 'DATE', right_on='date', how = 'outer')

data = data.drop('date', axis=1)

In [5]:
financial_data = pd.DataFrame(data)

# Renaming columns
financial_data.rename(columns={
    'CUSR0000SEHC01': 'OER',
    'CSUSHPISA': 'US_National_Home_Prices',
    'CUSR0000SAH1': 'Consumer_Price_Index',
    'value': 'Inflation_Rate'
}, inplace=True)

# Display the updated DataFrame
print(financial_data.head())

         DATE  CPIEHOUSE     PCE    OER  US_National_Home_Prices  \
0  2002-01-01      186.5  7184.6  211.4                  117.144
1  2002-02-01      187.6  7225.2  212.0                  117.845
2  2002-03-01      188.4  7243.4  212.7                  118.687
3  2002-04-01      188.7  7312.5  213.4                  119.611
4  2002-05-01      188.9  7288.9  213.9                  120.724

   Consumer_Price_Index  Inflation_Rate
0                 205.1           177.7
1                 206.0           178.0
2                 206.3           178.5
3                 207.0           179.3
4                 207.4           179.5

In [6]:
financial_data

,DATE,CPIEHOUSE,PCE,OER,US_National_Home_Prices,Consumer_Price_Index,Inflation_Rate
0,2002-01-01,186.500,7184.6,211.400,117.144,205.100,177.700
1,2002-02-01,187.600,7225.2,212.000,117.845,206.000,178.000
2,2002-03-01,188.400,7243.4,212.700,118.687,206.300,178.500
3,2002-04-01,188.700,7312.5,213.400,119.611,207.000,179.300
4,2002-05-01,188.900,7288.9,213.900,120.724,207.400,179.500
...,...,...,...,...,...,...,...
247,2022-08-01,320.808,17692.2,366.079,301.596,356.910,295.320
248,2022-09-01,322.979,17804.0,368.978,299.380,359.565,296.539
249,2022-10-01,324.476,17915.1,371.282,298.922,362.160,297.987
250,2022-11-01,325.493,17892.5,373.717,298.312,364.480,298.598
251,2022-12-01,327.600,17943.6,376.659,297.471,367.355,298.990

In [18]:
import pandas as pd
csv_file_path = 'C:\\Users\\vishal\\financial_data.csv'

#DataFrame to a CSV file
financial_data.to_csv(csv_file_path, index=False)

print(f"DataFrame has been saved to {csv_file_path}")

DataFrame has been saved to C:\Users\vishal\financial_data.csv